<div lang="tr">
<h1>Hakkimizda</h1>
<p>Bu proje yazilim muhendisligi 'design patterns for web application' modulu icin hazirlanmistir.</p>
<p>Mustafa Mete Tunca tarafindan gelistirilmistir, Ogrenci numarasi: 77177611</p>