<div class="center jumbotron">
  <h1>Referencing Pro' ya Hosgeldiniz</h1>
  
  Bu web tabanli uygulama kolaylikla bibliografi olusturmaniza yardimci olur.
</div>
<br/><br/>
<%= image_tag("books.png", height: '100', width: '105', alt: "Referencing logo") %>