<div class="center jumbotron">
  <h1>Welcome to the Referencing Pro</h1>

 This is a web-based referecing application which helps you to build your bibliography easily.
</div>
<br/><br/>
<%= image_tag("books.png", height: '100', width: '105', alt: "Referencing logo") %>