<%= form_for(referenceauthor) do |f| %>
  <% if referenceauthor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(referenceauthor.errors.count, "error") %> prohibited this referenceauthor from being saved:</h2>

      <ul>
      <% referenceauthor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.select :author_id, Author.all.collect {|t| [ t.name + " " +t.lastname, t.id ] }, {prompt: 'Select Author'} %>
  <%= f.select :reference_id, Reference.all.collect {|t| [ t.title, t.id ] }, {prompt: 'Select Reference'} %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
