<p id="notice"><%= notice %></p>

<h1><%= t('Attach Authors to References') %></h1>

<table>
  <thead>
    <tr>
       <th><%= t('SourceType') %></th>
      <th><%= t('Author') %></th>
      <th><%= t('Title') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @referenceauthors.each do |referenceauthor| %> 
      <tr>
      <td><%= Sourcetype.find_by(id: Reference.find_by(id: referenceauthor.reference_id).sourcetype_id).name %></td>
         <td><%= Author.find_by(id: referenceauthor.author_id ).name %> <%= Author.find_by(id: referenceauthor.author_id ).lastname %></td>
     
        <td><%= Reference.find_by(id: referenceauthor.reference_id).title %></td>
     
        <td><%= link_to t('Show Bibliography'), referenceauthor %></td>
        <td><%= link_to t('Edit'), edit_referenceauthor_path(referenceauthor) %></td>
        <td><%= link_to t('Destroy'), referenceauthor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('Attach New Reference'), new_referenceauthor_path %>
