<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
     <td><h2>Harvard Style Referencing</h2></td>
    </tr>
  </thead>
   <tbody>
     <tr>
        <td><%=Referenceauthor.get_harvard_referencing(Sourcetype.find_by(id: Reference.find_by(id: @referenceauthor.reference_id).sourcetype_id).name, Author.find_by(id: @referenceauthor.author_id ).lastname,Author.find_by(id: @referenceauthor.author_id ).name,Reference.find_by(id: @referenceauthor.reference_id).publicationYear,Reference.find_by(id: @referenceauthor.reference_id).title,Reference.find_by(id: @referenceauthor.reference_id).series,+Reference.find_by(id: @referenceauthor.reference_id).edition,Reference.find_by(id: @referenceauthor.reference_id).publicationplace,Reference.find_by(id: @referenceauthor.reference_id).publisher,Reference.find_by(id: @referenceauthor.reference_id).webadress,Reference.find_by(id: @referenceauthor.reference_id).accessdate,Reference.find_by(id: @referenceauthor.reference_id).titleofconference) %>
       
       </td>
        
     </tr>
       </tbody>
</table>

      
       


<%= link_to 'Edit', edit_referenceauthor_path(@referenceauthor) %> |
<%= link_to 'Back', referenceauthors_path %>


