<p id="notice"><%= notice %></p>

<h1><%= t('Authors') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('Name') %></th>
      <th><%= t('Lastname') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.lastname %></td>
        <td><%= link_to t('Show'), author %></td>
        <td><%= link_to t('Edit'), edit_author_path(author) %></td>
        <td><%= link_to t('Destroy'), author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('New Author'), new_author_path %>
