<p id="notice"><%= notice %></p>

<h1><%= t('Source Types') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('Name') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sourcetypes.each do |sourcetype| %>
      <tr>
        <td><%= sourcetype.name %></td>
        <td><%= link_to t('Show'), sourcetype %></td>
        <td><%= link_to t('Edit'), edit_sourcetype_path(sourcetype) %></td>
        <td><%= link_to t('Destroy'), sourcetype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('New Sourcetype'), new_sourcetype_path %>
