<%= form_for(reference) do |f| %>
  <% if reference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reference.errors.count, "error") %> prohibited this reference from being saved:</h2>

      <ul>
      <% reference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
     <%= f.select :sourcetype_id, Sourcetype.all.collect {|t| [ t.name, t.id ] }, {prompt: 'Select Source Type'} %>
  </div>

  <div class="field">
    <%= f.label :publicationYear %>
    <%= f.datetime_select :publicationYear, :discard_minute=> true , :discard_hour=> true  %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :series %>
    <%= f.text_field :series %>
  </div>

  <div class="field">
    <%= f.label :edition %>
    <%= f.text_field :edition %>
  </div>

  <div class="field">
    <%= f.label :publicationplace %>
    <%= f.text_field :publicationplace %>
  </div>

  <div class="field">
    <%= f.label :publisher %>
    <%= f.text_field :publisher %>
  </div>

  <div class="field">
    <%= f.label :webadress %>
    <%= f.text_field :webadress %>
  </div>

  <div class="field">
    <%= f.label :accessdate %>
    <%= f.datetime_select :accessdate, :discard_minute=> true , :discard_hour=> true%>
  </div>

  <div class="field">
    <%= f.label :titleofconference %>
    <%= f.text_field :titleofconference %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
