<p id="notice"><%= notice %></p>

<h1><%= t('References') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('SourceType') %>&nbsp; </th>
      <th><%= t('Publication Year')%>&nbsp; </th>
      <th><%= t('Title')%>&nbsp;</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @references.each do |reference| %>
      <tr>
        <td><%= Sourcetype.find_by(id: Reference.find_by(id: reference.id).sourcetype_id).name %></td>
        <td><%= reference.publicationYear.year.to_s %></td>
        <td><%= reference.title %></td>
        <td><%= link_to t('Show'), reference %></td>
        <td><%= link_to t('Edit'), edit_reference_path(reference) %></td>
        <td><%= link_to t('Destroy'), reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('New Reference'), new_reference_path %>
