<p id="notice"><%= notice %></p>

<p>
  <strong>Sourcetype:</strong>
  <%= Sourcetype.find_by(id: Reference.find_by(id: @reference.id).sourcetype_id).name %>
</p>

<p>
  <strong>Publicationyear:</strong>
  <%= @reference.publicationYear %>
</p>

<p>
  <strong>Title:</strong>
  <%= @reference.title %>
</p>

<p>
  <strong>Series:</strong>
  <%= @reference.series %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @reference.edition %>
</p>

<p>
  <strong>Publicationplace:</strong>
  <%= @reference.publicationplace %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @reference.publisher %>
</p>

<p>
  <strong>Webadress:</strong>
  <%= @reference.webadress %>
</p>

<p>
  <strong>Accessdate:</strong>
  <%= @reference.accessdate %>
</p>

<p>
  <strong>Titleofconference:</strong>
  <%= @reference.titleofconference %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
