<footer class="footer">
  <div class="container" lang = <%= I18n.locale %> dir= <%= @local_dir %>>
  <nav>
    <ul class="nav navbar-nav navbar-left">
            <li><%= link_to t('Home'),   root_url %></li>
            <li><%= link_to t('help'),   pages_path('help') %></li>
            <li><%= link_to t('about'), pages_path('aboutus') %></li>
              <li><%= link_to t('languages.en'), root_url(locale: 'en'), html_options = { dir: "ltr", lang: "en" } %></li>
              <li><%= link_to t('languages.tr'), root_url(locale: 'tr'), html_options = { dir: "rtl", lang: "tr" } %></li>
              
          </ul>
  </nav>

   <small>
    <%= t('This Application is built by Mustafa Mete TUNCA') %>
  </small>
    </div>
</footer>