<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container" lang = <%= I18n.locale %> dir= <%= @local_dir %>>
        <%= link_to "Referencing Pro", root_url, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to t('References'),   references_path %></li>
            <li><%= link_to t('Source Types'),   sourcetypes_path %></li>
            <li><%= link_to t('Authors'), authors_path %></li>
            <li><%= link_to t('Attach Author to References'), referenceauthors_path %></li>
            
          </ul>
        </nav>
      </div>
    </header>
    
  