  <!DOCTYPE html>
<html lang="<%= I18n.locale %>"  dir= <%= @local_dir %> >
  <head>
   <title>Referencing Pro</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
   
  </head>

  <body>
     <%= render 'layouts/header' %>
     <div class="container">
    <%= yield %>
     <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
